.statistics {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 500px;
  margin: auto;
  background-color: rgb(150, 158, 167);
}
.title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgb(233, 221, 221);
}
.list {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(247, 231, 231);
}
.label {
  margin-bottom: 10px;
}
.percentage {
  font-size: larger;
}
